@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .icon_wrapper {
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px];
  }


  }
  @layer components{
    .error {
      color:red;
      font-size:12px;
      text-align: left;
    }
  }

.swiper-image-container {
  position: relative;
  width: 100%;
  max-height: 100%; /* Set the maximum height */
  padding-top: 100%; /* Adjust the aspect ratio based on your design */
  overflow: hidden;
  
}

.slide-box {
  position: absolute;
  width: 100%;
  height:100%;
  padding-top: 50%;
 
}

.swiper-image {
  position: absolute;
  top: -180px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* TestimonialSlider.css*/
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*LogoSlider.css*/

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow:before{
  color:teal;
  font-size: 50px;
}
.slide-track{
  display:flex;
  width:calc(250px*18);
}

.slide::before,
.slide::after{
  background: linear-gradient(to right,rgba(255,255,255,1)0%);
  content:'';
  height:100%;
  position:absolute;
  width:15%;
  z-index:2;

}
.slider::before,
::after { 
  box-sizing: border-box;
  
}
